<div class="modal-header">
  Kinase Library
</div>
<div class="modal-body">
  <p>
    <a href="https://kinase-library.phosphosite.org/" target="_blank">Kinase Library</a>
  </p>
  <div>
    <table class="table table-striped" *ngIf="directData.length > 0" >
      <thead>
      <tr>
        <th scope="col">
          Kinase
        </th>
        <th scope="col">
          Score
        </th>
        <th scope="col">
          Rank
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let i of directData">
        <td>{{i.index}}</td>
        <td>{{i["Score"]}}</td>
        <td>{{i["Score Rank"]}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" (click)="modal.dismiss()">Close</button>
</div>
