<div class="modal-header">
  Kinase Library
</div>
<div class="modal-body">
  <p>
    <b>Kinase Library Web-link:</b> <a href="https://kinase-library.phosphosite.org/site?s={{sequenceWindow}}&pp=false&scp=true" target="_blank">{{sequenceWindow}}</a>
  </p>
  <div>
    <table class="table table-striped" *ngIf="data.data.length > 0; else nodata" >
      <thead>
      <tr>
        <th scope="col">
          Kinase
        </th>
        <th scope="col">
          Percentile
        </th>
        <th scope="col">
          Rank
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let i of data.data">
        <td>{{i.kinase}}</td>
        <td>{{i.percentile}}</td>
        <td>{{i.rank}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #nodata>
  <p>No data was found in Kinase Library database. You can use the link above instead or use the database which utilize Kinase Library website API for prediction of kinase.</p>
  <table class="table table-striped" *ngIf="directData.length > 0" >
    <thead>
    <tr>
      <th scope="col">
        Kinase
      </th>
      <th scope="col">
        Score
      </th>
      <th scope="col">
        Rank
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let i of directData">
      <td>{{i.motif.geneName}}</td>
      <td>{{i.score}}</td>
      <td>{{i.scoreRank}}</td>
    </tr>
    </tbody>
  </table>
</ng-template>
<div class="modal-footer">
  <button class="btn btn-primary" (click)="modal.dismiss()">Close</button>
</div>
