<div class="row">
  <div class="col-5 ml-2">
    <form [formGroup]="form">
      <div class="row">
        <div class="col-3">
          <div class="form-group">
            <label for="significantCutoff">Significant Cut-off</label>
            <input id="significantCutoff" type="number" class="form-control" formControlName="pvalueCutoff">
          </div>
        </div>
        <div class="col-3">
          <div class="form-group">
            <label for="foldChangeCutoff">Fold Change Cut-off</label>
            <input id="foldChangeCutoff" type="number" class="form-control" formControlName="fcCutoff">
          </div>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-3">
          <div class="form-check">
            <input id="backgroundColor" type="checkbox" class="form-check-input" formControlName="setBackgroundDataColor">
            <label class="form-check-label" for="backgroundColor">Set non-significant data grey color</label>
          </div>
        </div>
        <div class="col-7">
          <app-volcano-color-groups [colorGroups]="colorGroups" *ngIf="form.value['setBackgroundDataColor'] === false" (colorChange)="updateColor($event)"></app-volcano-color-groups>
        </div>

      </div>

      <button class="btn btn-primary mt-2" (click)="drawVolcano()">Redraw volcano plot</button>
      <button class="btn btn-success ml-2 mt-2" (click)="dataService.downloadPlotlyExtra('volcanoplot')">Download volcano plot</button>
    </form>
  </div>
  <div class="col-5">
    <plotly-plot [divId]="'volcanoplot'" [data]="graphData" [layout]="graphLayout" [updateOnDataChange]="true" (plotlyClick)="selectData($event)"></plotly-plot>
  </div>

</div>

