<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand" href="#">CurtainPTM</a>
  <ng-container *ngIf="dataService.finishedProcessing">
    <app-quick-search (selected)="handleRes($event)"></app-quick-search>
    <button class="btn btn-primary ml-2" (click)="openAdvancedHighlight()">Advanced Search</button>
    <button class="btn btn-outline-primary ml-2" (click)="saveSession()">Save Session</button>
    <button class="btn btn-outline-danger ml-2" (click)="clearSelections()">Clear Selections</button>
    <a *ngIf="uniqueLink !== ''" href="{{uniqueLink}}" class="ml-2 text-success">{{uniqueLink}}</a>
  </ng-container>
</nav>
<div class="container">
  <app-file-uploader></app-file-uploader>
</div>

<ng-container *ngIf="dataService.finishedProcessing">
  <div class="container-fluid">
    <app-volcano-plot [data]="dataService.dataFile.data" (selected)="volcanoSelection($event)"></app-volcano-plot>
  </div>
  <ng-container class="mt-2 ml-2 mr-2" *ngFor="let d of dataService.queryProtein">
    <app-protein-viewer [data]="d" id="{{d}}scrollid"></app-protein-viewer>
  </ng-container>
</ng-container>


