<app-navbar [isDOI]="isDOI" [doiMetadata]="doiMetadata" [loadingDataCite]="loadingDataCite" [finished]="finished" (updateSelection)="handleFinish($event)" [uniqueLink]="uniqueLink"></app-navbar>

<app-pride></app-pride>
<app-file-form (finished)="handleFinish($event)"></app-file-form>
<app-protein-selections (searchResult)="handleSearch($event)"></app-protein-selections>
@if (finished) {
  <app-volcano-and-cyto (selected)="handleSearch($event)"></app-volcano-and-cyto>
}

@if (differentialFiltered.count() > 0) {
  <app-data-viewer [data]="differentialFiltered"></app-data-viewer>
}

@if (finished) {
  <app-side-float-control (searchChatSelection)="handleSearch($event)"></app-side-float-control>
}
