<div class="modal-header">
  <h5 class="modal-title">PTM Data Import</h5>
</div>
<div class="modal-body">
  <form [formGroup]="form" (ngSubmit)="importData()">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label>Dataset Name</label>
          <input type="text" class="form-control" formControlName="name">
        </div>
        <div class="form-group">
          <label>Upload File (tabulated txt)</label>
          <input type="file" class="form-control" (change)="setPTMDataFile($event)">
          <small>The first column must contain uniprot accession id, second column is the numeric position of the PTM in the protein sequence third column is the single amino acid symbol for the residue at that position</small>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-sm btn-primary" [disabled]="!form.valid" >Import Database</button>
  </form>
  <div class="card mt-2" *ngIf="datasetList.length>0">
    <div class="card-body">
      <h5 class="card-title">Imported Data</h5>
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Name</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let d of datasetList">
          <td>{{d}}</td>
          <td>
            <button class="btn btn-sm btn-danger" (click)="deleteDataset(d)">Delete</button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="cancel()">Close</button>
</div>
