<ng-container *ngIf="_data !== ''">
  <div class="container">
    <form [formGroup]="form">
      <div class="row">
        <div class="form-group">
          <label for="modTypes">Modification types for UniProt</label>
          <select multiple id="modTypes" class="form-control" formControlName="modificationTypes">
            <option *ngFor="let m of modTypes" [value]="m">
              {{m}}
            </option>
          </select>
        </div>
        <div class="form-group ml-5" *ngIf="dataService.pspIDMap[_data]">
          <label for="pspVariants">PhosphoSitePlus Isoform Selection</label>
          <select id="pspVariants" class="form-control" formControlName="pspSelected">
            <option *ngFor="let m of dataService.pspIDMap[_data].associated" [value]="m">
              {{m}}
            </option>
          </select>
        </div>
      </div>
      <div class="row">
        <button class="btn btn-primary" (click)="draw()">Redraw</button>
        <!--<button class="btn btn-success ml-2" (click)="downloadPlot()">Download plots</button>-->
      </div>

    </form>
  </div>

  <ng-container *ngFor="let g of titleOrder">
    <ng-container *ngIf="settings.settings.academic">
      <ng-container *ngIf="graphData2[g]">
        <plotly-plot divId="{{uniprotEntry+g}}" [data]="[graphData2[g]]" [layout]="graphLayout2[g]" [updateOnLayoutChange]="true" [updateOnDataChange]="true" (relayout)="updateBoundary(g, $event)"></plotly-plot>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="!settings.settings.academic">
      <ng-container *ngIf="graphData2[g] && (g!=='PSP')">
        <plotly-plot divId="{{uniprotEntry+g}}" [data]="[graphData2[g]]" [layout]="graphLayout2[g]" [updateOnLayoutChange]="true" [updateOnDataChange]="true" (relayout)="updateBoundary(g, $event)"></plotly-plot>
      </ng-container>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="heatmapEnable">
    <plotly-plot divId="{{uniprotEntry+'heatmap'}}" [data]="graphData" [layout]="graphLayout" [updateOnLayoutChange]="true" [updateOnDataChange]="true" (relayout)="updateBoundary('heatmap', $event)"></plotly-plot>
  </ng-container>

</ng-container>
