<ng-container *ngIf="_data !== ''">
  <div class="container">
    <form [formGroup]="form">
      <div class="row">
        <div class="form-group">
          <label for="modTypes">Modification types for UniProt</label>
          <select multiple id="modTypes" class="form-control" formControlName="modificationTypes">
            <option *ngFor="let m of modTypes" [value]="m">
              {{m}}
            </option>
          </select>
        </div>
        <div class="form-group ml-5">
          <label for="db">Select Databases</label>
          <select multiple id="db" class="form-control" formControlName="dbSelected">
            <ng-container *ngFor="let d of dataService.databases">
              <option [value]="d.value" *ngIf="availableDB.includes(d.value)">
                {{d.name}}
              </option>
            </ng-container>
          </select>
        </div>
        <!--<div class="form-group ml-5" *ngIf="dataService.pspIDMap[_data] && settings.settings.academic">
          <label for="pspVariants">PhosphoSitePlus Isoform Selection</label>
          <select id="pspVariants" class="form-control" formControlName="pspSelected">
            <option *ngFor="let m of dataService.pspIDMap[_data].associated" [value]="m">
              {{m}}
            </option>
          </select>
        </div>-->
      </div>
    </form>
    <div class="row">
      <ng-container *ngFor="let db of availableDB">
        <ng-container *ngIf="this.dataService.dbIDMap[db]">
          <div class="form-group mr-5" *ngIf="this.dataService.dbIDMap[db][_data] && settings.settings.academic">
            <label for="{{db}}{{_data}}">{{dataService.databaseNameMap[db]}} Isoform Selection</label>
            <select id="{{db}}{{_data}}" class="form-control" [(ngModel)]="this.dataService.dbIDMap[db][_data].selected">
              <option *ngFor="let m of this.dataService.dbIDMap[db][_data].associated" [value]="m">
                {{m}}
              </option>
            </select>
          </div>
        </ng-container>
      </ng-container>
    </div>
    <div class="row">
      <button class="btn btn-primary" (click)="draw()">Redraw</button>
      <!--<button class="btn btn-success ml-2" (click)="downloadPlot()">Download plots</button>-->
    </div>
  </div>

  <ng-container *ngFor="let g of titleOrder.slice(0,2)">
    <ng-container *ngIf="settings.settings.academic">
      <ng-container *ngIf="graphData2[g]">
        <plotly-plot divId="{{uniprotEntry+g}}" [data]="[graphData2[g]]" [layout]="graphLayout2[g]" [updateOnLayoutChange]="true" [updateOnDataChange]="true" (relayout)="updateBoundary(g, $event)"></plotly-plot>
      </ng-container>
    </ng-container>
  </ng-container>
  <ng-container *ngFor="let g of titleOrder.slice(2,titleOrder.length)">
    <ng-container *ngIf="settings.settings.academic">
      <ng-container *ngIf="graphData2[g] && form.value['dbSelected'].includes(g)">
        <plotly-plot divId="{{uniprotEntry+g}}" [data]="[graphData2[g]]" [layout]="graphLayout2[g]" [updateOnLayoutChange]="true" [updateOnDataChange]="true" (relayout)="updateBoundary(g, $event)"></plotly-plot>
      </ng-container>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="heatmapEnable">
    <plotly-plot divId="{{uniprotEntry+'heatmap'}}" [data]="graphData" [layout]="graphLayout" [updateOnLayoutChange]="true" [updateOnDataChange]="true" (relayout)="updateBoundary('heatmap', $event)"></plotly-plot>
  </ng-container>

</ng-container>
