
<div class="container-fluid mt-4">
  <hr>
  <form [formGroup]="form" class="mb-2">
    <div class="d-flex">
      <div class="p-2">
        <input #searchForm type="search" class="form-control" formControlName="filterTerm" placeholder="Filter selected results">
      </div>
      <div class="p-2">
        <div class="form-group">
          <select formControlName="filterType" class="form-control">
            <option value="Gene Names">
              Gene Names
            </option>
            <option value="Primary IDs">
              Primary IDs
            </option>
            <option value="Diseases">
              Involvement in Diseases (UniProt)
            </option>
          </select>
        </div>
      </div>
      <div class="p-2">
        <div class="form-group">
          <select formControlName="filterSearchOperation" class="form-control">
            <option value="All selected">
              All selected
            </option>
            @for (o of dataService.selectOperationNames; track o) {
              <option [value]="o">
                {{o}}
              </option>
            }
          </select>
        </div>
      </div>
    </div>
  </form>
<!--  <div class="card bg-warning" [hidden]="searchForm">
    <div class="card-body">
      <p>
        Quick filter of the selected results. This will not affect the search results. Any search term longer than 2 characters will trigger the filter task. Clear the search field to reset the display data to default.
      </p>
    </div>
  </div>-->
  <hr>

  @if (ready) {
    @if (displaySeries.count() > 0) {
      <ngb-pagination [(page)]="dataService.page" [boundaryLinks]="true" [maxSize]="10" [rotate]="true" [pageSize]="dataService.pageSize" [collectionSize]="displaySeries.count()"></ngb-pagination>
      <hr>
      @for (r of displaySeries.toArray()|slice: (dataService.page-1) * dataService.pageSize: dataService.page* dataService.pageSize; track r) {
        <app-data-block [data]="r"></app-data-block>
        <hr>
      }

      <ngb-pagination [(page)]="dataService.page" [boundaryLinks]="true" [maxSize]="10" [rotate]="true" [pageSize]="dataService.pageSize" [collectionSize]="displaySeries.count()"></ngb-pagination>
    } @else {
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">No data found</h5>
          <p class="card-text">Please try a different search term.</p>
        </div>
      </div>
    }
  } @else {
    <div class="container-fluid mt-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Not ready</h5>
          <p class="card-text">Please wait for the data to be loaded.</p>
        </div>
      </div>
    </div>
  }

</div>
