<p>
  <b>Functional Description:</b> {{_data["Function [CC]"].replace("FUNCTION: ", "")}}
  <br>
</p>
<app-protein-domain-plot [data]="_data"></app-protein-domain-plot>
<div class="mt-2">
  @if (_data['Domain [FT]'].length > 0) {
    <table class="table table-bordered">
    <thead>
    <tr>
      <th scope="col">
        Start
      </th>
      <th scope="col">
        End
      </th>
      <th scope="col">
        Domain name
      </th>
    </tr>
    </thead>
    <tbody>
    @for (d of _data['Domain [FT]']; track d) {
      <tr>
        <td>
          {{d.start}}
        </td>
        <td>
          {{d.end}}
        </td>
        <td>
          {{d.name}}
        </td>
      </tr>
    }
  </table>
  }
</div>

@if (diseases.length > 0 || pharmaUse.length > 0 || _data['Mutagenesis'].length) {
  <div class="mt-4">
  <div class="accordion">
    @if (diseases.length > 0) {
      <div class="accordion-item">
      <h2 class="accordion-header">
        <button [ngClass]="{'accordion-button': true, 'collapsed': isDiseaseCollapse}" type="button" (click)="isDiseaseCollapse=!isDiseaseCollapse">
          Involvement in Diseases (UniProt)
        </button>
      </h2>
      <div #collapse="ngbCollapse" [(ngbCollapse)]="isDiseaseCollapse">
        <div class="accordion-body">
          @if (diseases.length > 0) {
            <div>
              <ul>
                @for (d of diseases; track d) {
                  <li>
                    {{d}}
                  </li>
                }
              </ul>
            </div>
          }
        </div>
      </div>
    </div>
    }
    @if (pharmaUse.length > 0) {
      <div class="accordion-item">
      <h2 class="accordion-header">
        <button [ngClass]="{'accordion-button': true, 'collapsed': isPharmaUseCollapse}" type="button" (click)="isPharmaUseCollapse=!isPharmaUseCollapse">
          Pharmaceutical use (UniProt)
        </button>
      </h2>
      <div #collapse="ngbCollapse" [(ngbCollapse)]="isPharmaUseCollapse">
        <div class="accordion-body">
          @if (pharmaUse.length > 0) {
            <div>
              <ul>
                @for (d of pharmaUse; track d) {
                  <li>
                    {{d}}
                  </li>
                }
              </ul>
            </div>
          }
        </div>
      </div>
    </div>
    }
    @if (_data['Mutagenesis'].length > 0) {
      <div class="accordion-item">
      <h2 class="accordion-header">
        <button [ngClass]="{'accordion-button': true, 'collapsed': isMutagenesisCollapse}" type="button" (click)="isMutagenesisCollapse=!isMutagenesisCollapse">
          Mutagenesis (UniProt)
        </button>
      </h2>
      <div #collapse="ngbCollapse" [(ngbCollapse)]="isMutagenesisCollapse">
        <div class="accordion-body">
          @if (_data['Mutagenesis'].length > 0) {
            <div>
              <ul>
                @for (d of _data['Mutagenesis']; track d) {
                  <li>
                    <b class="text-danger">{{d.position}}</b> - {{d.note}}
                  </li>
                }
              </ul>
            </div>
          }
        </div>
      </div>
    </div>
    }
  </div>
  </div>
}

