<div class="modal-header">
  <h5 class="modal-title">Advanced Search</h5>
</div>
<div class="modal-body">
  <form [formGroup]="form">
    <div class="form-row">
      <div class="col">
        <div class="form-group">
          <label for="maxP">Maximum -log10(p)</label>
          <input type="number" id="maxP" class="form-control" formControlName="maxP">
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="minP">Minimum -log10(p)</label>
          <input type="number" id="minP" class="form-control" formControlName="minP">
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        <div class="form-group">
          <label for="maxfc">Maximum Absolute log2(fc)</label>
          <input type="number" id="maxfc" class="form-control" formControlName="maxfc">
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="minfc">Minimum Absolute log2(fc)</label>
          <input type="number" id="minfc" class="form-control" formControlName="minfc">
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        <div class="form-group">
          <label for="direction">Fold change direction</label>
          <select class="form-control" id="direction" formControlName="direction">
            <option value="both">Both</option>
            <option value="left">Left</option>
            <option value="right">Right</option>
          </select>
        </div>
      </div>

    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" (click)="activeModal.close(form.value)">Submit</button>
  <button class="btn btn-danger ml-2" (click)="activeModal.dismiss()">Close</button>
</div>
