<div class="row">
  <div class="col-3">
    <label for="modTypes">Modification types for UniProt</label>
    <select multiple id="modTypes" [(ngModel)]="selectedUniProt" class="form-control">
      @for (m of uniMods; track m) {
        <option [value]="m">
          {{m}}
        </option>
      }
    </select>
  </div>
  <div class="col-3">
    <label for="db">Select Databases</label>
    <select multiple id="db" class="form-control" [(ngModel)]="dbSelected">
      @for (d of ptm.databases; track d) {
        @if (availableDB.includes(d.name)) {
          <option [value]="d.name">
            {{d.name}}
          </option>
        }
      }
    </select>
  </div>
</div>

<div class="row mt-2">
  @for (a of availableDB; track a) {
    @if (sourceMap[a]) {
      <div class="col-3">
        <label>{{a}}</label>
        <select class="form-control" [(ngModel)]="sourceMap[a]">
          @for (o of accOptions[a]; track o) {
            <option [value]="o">
              {{o}}
            </option>
          }
        </select>
      </div>
    }
  }
</div>

<div class="row mt-2">
  <div class="col-3">
    <button class="btn btn-primary" (click)="reDraw()">Redraw Plot</button>
  </div>
  <div class="col-3">
    <button class="btn btn-primary" (click)="downloadSVG()">Download as SVG</button>
  </div>
</div>


@for (g of graphData; track g) {
  <div class="row mt-2">
    <plotly-plot divId="{{divIDMap[g.name]}}" (relayout)="updateBoundary($event)" [data]="[g]" [layout]="graphLayout[g.name]"
                 [style]="{'max-width': '1200px', 'width': '100%', 'height': '200px'}"
                 [updateOnLayoutChange]="true" [updateOnDataChange]="true"></plotly-plot>
  </div>
}

@if (alignedMap['Experimental Data']) {
  <table class="table table-hover mt-2">
  <thead>
  <tr>
    <th scope="col" style="word-wrap: break-word;min-width: 160px;max-width: 160px;">
      Experimental Data Aligned Position (Original Position)
    </th>
    @for (g of graphData; track g) {
      <th scope="col">
        {{g.name}}
      </th>
    }
  </tr>
  </thead>
  <tbody>
  @for (d of alignedMap['Experimental Data']; track d) {
    <tr [ngClass]="{'table-success': d.id && dataService.selectedMap[d.id]}">
      <td style="word-wrap: break-word;min-width: 160px;max-width: 160px;">
        {{d.alignedPosition+1}} ({{d.actualPosition+1}})
<!--        <span class="badge bg-primary ml-2" (click)="openNetPhos(d.actualPosition+1)">NetPhos</span>-->
        <span class="badge bg-danger" style="margin-left: 2px" (click)="toggleKinaseLibraryOpenStatus(d.actualPosition+1)">Kinase Library</span>

      </td>
      @for (g of graphData; track g) {
        <td>
          <span>{{g.x[d.alignedPosition].split(".")[0]}}</span>
          @if (alignedPosition[d.alignedPosition][g.name]) {
            <span>({{alignedPosition[d.alignedPosition][g.name].actualPosition+1}})</span>
          }
          @if (g.name === 'PhosphoSite Plus (Phosphorylation)' && alignedPosition[d.alignedPosition][g.name]) {
            <span>
              @if (alignedPosition[d.alignedPosition][g.name].kinases && alignedPosition[d.alignedPosition][g.name].kinases!.length > 0) {
                @for (k of alignedPosition[d.alignedPosition][g.name].kinases!; track k) {
                  <span placement="top" ngbTooltip="Kinase" class="badge bg-danger ml-2" (click)="openKinaseInfo(k)">{{k.kinase}}</span>
                }
              }
            </span>
          }
          @if (g.name === 'UniProt' && alignedPosition[d.alignedPosition][g.name]) {
            @if (alignedPosition[d.alignedPosition][g.name].diseases) {
              @for (disease of alignedPosition[d.alignedPosition][g.name].diseases; track disease) {
                <span class="badge bg-info ml-2">{{disease.disease}}</span>
              }
            }
          }
        </td>
      }
    </tr>
  }

  </tbody>
</table>
}

@if (showPSPLink) {
  <p>
    PhosphoSitePlus link for <a href="https://www.phosphosite.org/uniprotAccAction?id={{uni['Entry']}}">{{uni["Entry"]}}</a>
  </p>
}

